# {{ ansible_managed }}
{% set _options = ['-syslog'] %}
{% if consul_server_mode | lower == 'true' %}
{% set _ = _options.append('-server') %}
{% endif %}
{% set _ = _options.append('-config-file=/etc/consul.hcl') %}
{% if consul_http_proxy is defined and consul_http_proxy | length > 0 %}
HTTP_PROXY={{ consul_http_proxy }}
{% endif %}
{% if consul_https_proxy is defined and consul_https_proxy | length > 0 %}
HTTPS_PROXY={{ consul_https_proxy }}
{% endif %}
{% if consul_http_no_proxy is defined and consul_http_no_proxy | length > 0 %}
NO_PROXY={{ consul_http_no_proxy }},0.0.0.0,127.0.0.1,::1
{% endif %}
OPTIONS="{{ _options | join(' ') }}"
