# {{ ansible_managed }}
[Unit]
Description=consul server service
Documentation=http://www.consul.io
After=network.target

[Service]
EnvironmentFile={{ consul_sysconfig }}

Environment=GOMAXPROCS=2

Restart=on-failure
KillSignal=SIGTERM

ExecStart=/usr/local/bin/consul agent $OPTIONS -data-dir=/var/lib/consul -config-dir=/etc/consul.d
ExecReload=/usr/local/bin/consul reload

KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target

